body {
	font-family: Finlandica, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 12px;
}

.header1 {
	font-size: 2em;
	font-weight: 600;
}

.header2 {
	font-size: 1.5em;
	font-weight: 600;
}

.header3 {
	font-size: 1.2em;
	font-weight: 600;
}

.center {
	text-align: center;
}

.gold {
	color: goldenrod;
}

.bordered {
	border: 2px solid rgb(50, 50, 50);
}

.mini-table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 2em;
}

.mini-table > thead > tr > th {
	border-bottom: 1px solid blanchedalmond;
}

.remove-button {
	background: red;
	border-radius: 100%;
	font-weight: bold;
}

.remove-button:hover {
	background: rgb(209, 87, 87);
}